#r{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: black;
}
#button{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: black;
}
body{
     height: 500px;
     background-image:url("https://i.gifer.com/origin/12/12201ddca23243019c8bf1e434e1b519_w200.gif?hl=en_IN");
     background-repeat:no-repeat;
     background-attachment:fixed;
     background-size:100% 100%;
}
.header{
    padding: 20px 10px;
    background-color: #f1f1f1;
    overflow: hidden;
    position: fixed;
    width: 98%;
}

.header a {
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo{
    font-size: 28px;
    font-weight: bold;
}

.header a:hover{
    background-color: #ddd;
    color: black;
}

.header a.active{
    background-color: dodgerblue;
    color: white;
}
.header-right{
    float: right;
}
@media screen and(max-width: 500px) {
    .header a{
        float: none;
        display: block;
        text-align: left;
    }

    .header-right{
        float: none;
    }
    
}
.frm{
    background-image:url("Screenshot_20211221-100056~3.png");
    align:center;
    text-align: center;
    width: fit-content;
    margin-top: 100px;
    box-shadow: 0px 50px 100px #FFB6C1;
}
.form{
    align:center;
    text-align: center;
    background-color: aqua;
    width: fit-content;
    margin-top: 100px;
    box-shadow: 0px 50px 100px #FFB6C1;
}
#video{
    border: aqua solid;
    box-shadow: 0px 50px 100px #FFB6C1;
}
#3{
   background-color:aqua;
}
#4{
   background-color:aqua;
}
#5{
   background-color:aqua;
}
#map{
    border: aqua solid 3px;
    box-shadow: 0px 50px 100px #FFB6C1;
}
#audio{
    border: yellow;
    box-shadow: 0px 50px 100px #FFB6C1;
}

